/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header{
    text-align: center;
    width: 97.57%;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 50px;
    font-weight: lighter;
    
}

h2{
    margin-bottom: 15px;
}
.titre{
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}

.contact{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.news{
    font-size: 18px;
    font-weight: bold;
}
.intro{
    text-align: center;
    color: gray;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text]::placeholder {
  text-align: right;
}

.separateurmax{
    margin-top: 35px;
    border-top: 3px solid black;
}
.separateurmin{
    margin-top: 3px;
    border-top: 1px solid black;
    margin-bottom: 35px;
}
.separateurmicro{
    border-top: 2px solid black;
    margin-top: 35px;
    margin-bottom: 35px;
}
.section{
    display: flex;
    flex-direction: column;
    width: 41%;        
}
#fullname{
    margin-left: 62px;
}
form{
    display: flex;
    flex-direction: column;
}
input[type=text], select{
margin-left: 36px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 68%;
    background-color: #f2f2f2;

}
input[list=browsers]{
margin-left: 97px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 68%;
background-color: #f2f2f2;
}
input[type=tel], select{
margin-left: 34px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 68%;
    background-color: #f2f2f2;
}
.left{
    margin-bottom: 15px;
}

#city{
    margin-left: 102px;
}

#zipcode{
    margin-left: 68px;
    width: 20%;
}



.story{
    margin-top: 15px;
    border-radius: 4px;
border: 1px solid #ccc;
    background-color: #f5f5ef;
}

button{
    margin-top: 25px;
    background-color:steelblue;
    color: white;
    padding: 20px;
border-radius: 4px;
border: 1px solid #ccc;
    font-size: 20px;
}
.plaintext{
    margin-bottom: 15px
}
.space{
    margin-bottom: 15px;
}
.spaces{
    margin-top: 15px;
    margin-bottom: 15px;
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: darkgrey;
}



@media screen and (min-width:1024px) and (max-width:1239px) {
    
    body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .section{
    display: flex;
    flex-direction: column;
    width: 40%;        
}
    .header{
    text-align: center;
    width: 97.2%;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 50px;
    font-weight: lighter;
    
}
    #fullname{
    margin-left: 30px;
}
    input[type=text], select{
margin-left: 4px;

padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 68%;
    background-color: #f2f2f2;

}
    
input[type=tel], select{
margin-left: 2px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 68%;
    background-color: #f2f2f2;
}
input[list=browsers]{
margin-left: 66px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 68%;
background-color: #f2f2f2;
}

.left{
    margin-bottom: 15px;
}

#city{
    margin-left: 70px;
}

#zipcode{
    margin-left: 38px;
    width: 20%;
}

  
}

@media screen and (min-width:768px) and (max-width:960px) {
    
    body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .section{
    display: flex;
    flex-direction: column;
    width: 60%;        
}
    .header{
    text-align: center;
    width: 96%;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 50px;
    font-weight: lighter;
    
}
    #fullname{
    margin-left: 45px;
}
    input[type=text], select{
margin-left: 18px;

padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 68%;
    background-color: #f2f2f2;

}
    
input[type=tel], select{
margin-left: 15px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 68%;
    background-color: #f2f2f2;
}
input[list=browsers]{
margin-left: 80px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 68%;
background-color: #f2f2f2;
}

.left{
    margin-bottom: 15px;
}

#city{
    margin-left: 84px;
}

#zipcode{
    margin-left: 52px;
    width: 20%;
}

  
}




@media screen and (min-width:400px) and (max-width:500px){
    
    body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .section{
    display: flex;
    flex-direction: column;
    width: 60%;        
}
    .header{
    text-align: center;
    width: 92.6%;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 50px;
    font-weight: lighter;
    
}
    #fullname{
    margin-top: 15px;
    margin-left: 0px;
}
    input[type=text], select{
margin-left: 0px;
margin-top: 15px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 90.5%;
    background-color: #f2f2f2;

}
    
input[type=tel], select{
margin-top: 15px;
margin-left: 0px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 90.5%;
    background-color: #f2f2f2;
}
input[list=browsers]{
margin-top: 15px;
display:flex;
margin-left: 0px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 90.5%;
background-color: #f2f2f2;
}

.left{
    margin-bottom: 15px;
}

#city{
    margin-top: 15px;
    display: flex;
    margin-left: 0px;
}

#zipcode{
    margin-top: 15px;
    display: flex;
    margin-left: 0px;
    width: 20%;
}

  
}

@media screen and (min-width:300px) and (max-width:390px){
    
    body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .section{
    display: flex;
    flex-direction: column;
    width: 89%;        
}
    .header{
    text-align: center;
    width: 90.8%;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 50px;
    font-weight: lighter;
    
}
    #fullname{
    display: flex;
    margin-top: 15px;
    margin-left: 0px;
}
    input[type=text], select{
margin-left: 0px;
margin-top: 15px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 90.5%;
    background-color: #f2f2f2;

}
    
input[type=tel], select{
margin-top: 15px;
margin-left: 0px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 90.5%;
    background-color: #f2f2f2;
}
input[list=browsers]{
margin-top: 15px;
display:flex;
margin-left: 0px;
padding: 12px;
border-radius: 4px;
border: 1px solid #ccc;
width: 90.5%;
background-color: #f2f2f2;
}

.left{
    margin-bottom: 15px;
}

#city{
    margin-top: 15px;
    display: flex;
    margin-left: 0px;
}

#zipcode{
    margin-top: 15px;
    display: flex;
    margin-left: 0px;
    width: 20%;
}

  
}

